# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
processor/src
processor/spark-warehouse
processor/project
processor/null
processor/target/scala-211/classes
processor/target/streams
processor/target/resolution-cache

pipeline/.tox
pipeline/*.egg-info

README.md
Dockerfile
.dockerignore