# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
processor
!processor/target/scala-2.11/yelp-data-processor-assembly-0.0.1-SNAPSHOT.jar
!processor/src/main/resources/data/stopwords.txt


pipeline
!pipeline/app
!pipeline/settings
!pipeline/etc


README.md
Dockerfile
.dockerignore

*.pyc