*.pyc
**node_modules
**bower_components
.tmp
coverage.xml
.idea
.tox*
junit-*.xml
**.log
*egg-info*
*sqlite3*
.coverage
docs/_*
dist
*.db
.cache
.pydevproject
.project

**/__pycache__/
etc/logs/
.vscode
