target/resolution-cache
target/streams
target/test-reports
target/.history
target/scala-2.11/classes
target/scala-2.11/test-classes
target/scala-2.11/yelp-data-processor_2.11-0.0.1-SNAPSHOT.jar
**/build
.settings
bin
.classpath
.metadata
**/.project
#python
*.pyc
#idea
.idea
*.iml
**/.settings

**/*.log
**/metastore_db/

mvnw
mvnw.cmd
.settings
.vscode
.mvn
project/target
project/project
/test
src/test/scala/target
null